@import 'tailwindcss';
@import './_refresh-button.css';
@import './_fonts.css';
@import './_loader.css';
@config "../../tailwind.config.js";

#root {
  width: 1920px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #06080c;
  justify-content: center;
  display: flex;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.logo {
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: 'TacticSans-BldIt';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  flex-shrink: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #06080c;
  }
}

.team-name {
  font-weight: 600;
  @apply text-[0.875rem] md:text-[1rem];
}

.score-text {
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  @apply text-[0.875rem] md:text-[1.25rem];
}
